@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
  themes: light ;
}

.hover-fill-text {
  font-size: 80px;
  font-weight: 900;
  margin-right: 50px;
  text-transform: uppercase;
  font-family: sans-serif;
  
  /* টেক্সট আউটলাইন তৈরি করা */
  color: transparent;
  -webkit-text-stroke: 1px #001a41;

  /* ব্যাকগ্রাউন্ড কালার সেটআপ (যা বাম থেকে ডানে আসবে) */
  background: linear-gradient(to right, #001a41 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  background-clip: text;

  /* এনিমেশন ট্রানজিশন */
  transition: background-position 0.7s ease-out, color 0.7s ease-out;
}

.hover-fill-text:hover {
  /* হোভার করলে ব্যাকগ্রাউন্ড পজিশন বামে সরে আসবে */
  background-position: 0 0;
  color: #001a41;
}



/* @plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:#caf0f8;
  --color-secondary: #b3dee2;
  --color-base-200: #f9fafb;
  --color-base-300: #e7e7e7;
  --color-accent: #f3f4f6;

}
@plugin "daisyui/theme" {
  name: "dark";
  
  --color-primary: #001d3d;
  --color-secondary: #001d3d;
  --color-base-200: #000000;
  --color-base-300: #e7e7e7;
  --color-accent: black;
} */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
